<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClientMapper">
	<!-- 字段 -->
	<sql id="Field">
		clientid,
		clientname,
		clientinfo,
		creatdate,
		finallogindate,
		isuse,
		imei,
		rdsdata,
		leddata,
		note
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{clientid},
		#{clientname},
		#{clientinfo},
		#{creatdate},
		#{finallogindate},
		#{isuse},
		#{imei},
		#{rdsdata},
		#{leddata},
		#{note}
	</sql>
	
	<!--表名 -->
	<sql id="tableName">
		client
	</sql>
	<!-- 查找全部日志列表 -->
	<select id="getAlllistPage" parameterType="page" resultType="Client">
		select
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
		order by clientid desc
	</select>
	<!-- 存储终端信息 -->
	<insert id="saveClient" parameterType="Client">
		insert into 
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	<!-- 修改 -->
	<update id="editClient" parameterType="Client">
		update
		<include refid="tableName" />
		set
			<if test="clietname != null and clietname != ''">
			clientname = #{clientname}
			</if>
			<if test="clientinfo != null and clientinfo != ''">
			,clientinfo = #{clientinfo}
			</if>
			<if test="imei != null and imei != ''">
			,imei = #{imei}
			</if>
			<if test="rdsdata != null and rdsdata != ''">
			,rdsdata = #{rdsdata}
			</if>
			<if test="leddata != null and leddata != ''">
			,leddata = #{leddata}
			</if>
			<if test="note != null and note != ''">
			,note = #{note}
			</if>
		where
			clientid = #{clientid}
	</update>
	<!-- 删除用户 -->
	<update id="deleteClient" parameterType="Client">
		update
		<include refid="tableName" />
		set
			isuse = 0
		where
			clientid = #{clientid}
	</update>
</mapper>