<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SessionMapper">
	
	<!-- 字段 -->
	<sql id="Field">
		sessionid,
		sessionuser,
		sessiondata,
		sessiondate
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{sessionid},
		#{sessionuser},
		#{sessiondata},
		#{sessiondate}
	</sql>
	<!--表名 -->
	<sql id="tableName">
		session
	</sql>
	
	<!-- 查找全部会话列表 -->
	<select id="getAlllistPage" parameterType="page" resultType="Session">
		select
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
		order by sessiondate desc
	</select>
	<!-- 存储会话列表 -->
	<insert id="saveSession" parameterType="Session">
		insert into 
		<include refid="tableName"></include>
		(
		sessionuser,
		sessiondata,
		sessiondate
		) values (
		#{sessionuser},
		#{sessiondata},
		#{sessiondate}
		)
	</insert>
</mapper>